@import "../../Global.scss";

.website {
  margin-top: 75px;
  .intro {
    min-height: 75vh;
    background: green;
    .intro-title {
      padding-top: 50px;
    }
    .intro-img {
      width: 300px;
    }
  }

  .pricing {
    // padding-top: 25px;
    min-height: 75vh;
    background: yellow;
    .pricing-title {
      padding-top: 20px;
      padding-left: 20px;
      padding-right: 20px;
      font-size: $font-xl;
    }
    .pricing-intro {
      font-size: $font-m;
      padding-top: 10px;
      padding-left: 25px;
      padding-right: 25px;
      padding-bottom: 10px;
      line-height: 30px;
    }
    .breakdown {
      padding-bottom: 20px;
      padding-left: 40px;
      padding-right: 40px;
      .service {
        .pricing-text {
          font-size: $font-l;
        }
        .cents {
          font-size: $font-s;
          vertical-align: text-top;
          padding-top: 1px;
        }
        .time {
          font-size: $font-m;
          &.m {
            padding-bottom: 10px;
          }
        }
      }
    }
  }

  .process {
    min-height: 75vh;
    background: pink;
    .process-title {
      padding-top: 20px;
      font-size: $font-xl;
      padding-left: 20px;
    }
    .card {
      padding: 20px 35px;
      .card-title {
        font-size: $font-l;
      }
      .card-text {
        font-size: $font-m;
      }
    }
  }
}
