@import "../../Global.scss";

.text-img {
  position: relative;
  display: flex;
  width: 100%;
  height: 275px;
  overflow: hidden;
  @media (min-width: $lg) {
    height: 420px;
  }
  .br-img {
    opacity: 0.5;
    height: 100%;
    object-fit: cover;
    min-width: 100%;
    object-position: center center;

    @media (min-width: $lg) {
    }
  }
  .title {
    &.right {
      left: 15px;
      position: absolute;
      color: $font-secondary;
      // text-align: left;
      // top: 30px;
      width: 100%;
      z-index: 2;
      margin-top: 20px;
      // text-align: center;
      font-size: $font-l;
      @media (min-width: $lg) {
        font-size: 4rem;
      }
    }
    &.left {
      color: black;
      right: 15px;
      position: absolute;
      color: $font-primary;
      margin-top: 20px;
      font-size: $font-l;
      @media (min-width: $lg) {
        font-size: 4rem;
      }
    }
  }
  .text {
    width: 100%;
    position: absolute;
    line-height: 25px;
    font-size: $font-s;
    &.right {
      right: 15px;
      bottom: 20px;
      color: $font-secondary;
      text-align: right;
      padding-left: 30%;
      width: 100%;
    }
    &.left {
      left: 15px;
      bottom: 20px;
      color: $font-primary;
      text-align: left;
      padding-right: 30%;
      width: 100%;
    }
  }
  .text-img-btn {
    background: rgb(194, 194, 194);
    color: $font-primary;
    font-size: $font-s;
    position: absolute;
    padding: 10px;
    bottom: 20px;
    &.right {
      left: 20px;

    }
    &.left {
      right: 20px;

    }
  }

  // &.black {
  //   background: black;
  // }
}
