@import "../../Global.scss";

.about {
  .intro {
    height: 75vh;
    background: green;
  }
  .story {
    height: 75vh;
    background: lightcoral;
  }
  .why {
    height: 75vh;
    background: lightblue;
  }
}