@import "../../Global.scss";

.home-img {
  height: 275px;
  overflow: hidden;
  align-items: center;
  position: relative;
  width: 100%;
  object-fit: cover;
}

.line-top {
  height: 1px;
  background: black;
  margin-top: 15px;
  margin-left: 50px;
  margin-right: 50px;
}

.home-blurb {

}
