@import "../../Global.scss";

.home {
  margin-top: 75px;
  .home-banner {
    position: relative;
    display: flex;
    width: 100%;
    height: 275px;
    // justify-content: center;
    // align-items: center;
    text-align: center;
    background: black;
    overflow: hidden;
    @media (min-width: $lg) {
      height: 420px;
    }
    .home-img {
      opacity: 0.6;
      height: 100%;
      object-fit: cover;
      min-width: 100%;
      object-position: center center;

      @media (min-width: $lg) {
        height: 100%;
        object-fit: cover;
        min-width: 100%;
        object-position: center center;
      }
    }
    .home-title {
      left: 10px;
      padding-top: 20px;
      position: absolute;
      font-size: $font-xl;
      color: $font-secondary;
      text-align: left;
      // top: 30px;
      width: 100%;
      @media (min-width: $lg) {
        font-size: 4rem;
      }
    }
    .img-blurb {
      position: absolute;
      bottom: 20px;
      right: 10px;
      padding-left: 30%;
      font-size: $font-l;
      color: $font-secondary;
      text-align: right;
      // top: 30px;
      width: 100%;
    }
  }

  .intro {
    .home-blurb {
      font-size: $font-m;
      text-align: left;
      margin-top: 10px;
      margin-left: 15px;
      margin-right: 15px;
      line-height: 30px;
    }
    .line-top {
      height: 5px;
      background: black;
      margin-top: 20px;
      margin-left: 50px;
      margin-right: 75%;
    }

    .line-bottom {
      height: 5px;
      background: black;
      margin-top: 15px;
      margin-bottom: 20px;
      margin-left: 75%;
      margin-right: 50px;
    }
  }
}
