@import "../../Global.scss";

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  color: white;
  background: $background-secondary;
  height: 75px;
  z-index: 300;
}

@media (min-width: 769px) {
  .header {
    height: 120px;
  }
}