$xs: 480px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$font-xs: 14px;
$font-s: 16px;
$font-m: 21px;
$font-l: 27px;
$font-xl: 40px;

$background-primary: #FFFFFF;
$background-secondary: #258ea6;
$background-tertiary: #549f93;
$background-highlight: #d6f49d;
$font-primary: #3D3D3D;
$font-secondary: #FFFFFF;